In [1]:
from datascience import *
import numpy as np

## The Monty Hall Problem

**Please run all cells before this cell, including the import cell at the top of the notebook.**

In [3]:
goats = make_array('first goat', 'second goat')
hidden_behind_doors = np.append(goats, 'car')
hidden_behind_doors

array(['first goat', 'second goat', 'car'], dtype='<U11')

In [4]:
def other_goat(goat):
    if goat == 'first goat':
        return 'second goat'
    if goat == 'second goat':
        return 'first goat'

In [5]:
other_goat("first goat")

'second goat'

In [6]:
other_goat("second goat")

'first goat'

In [7]:
other_goat("sheep")

In [9]:
contestant_goat = np.random.choice(hidden_behind_doors)
contestant_goat

'car'

In [10]:
def monty_hall_game():
    """[contestant's guess, revealed, remains]"""
    contestant_guess = np.random.choice(hidden_behind_doors)
    
    if contestant_guess == 'first goat':
        return ['first goat', 'second goat', 'car']
    elif contestant_guess == 'second goat':
        return ['second goat', 'first goat', 'car']
    elif contestant_guess == 'car':
        revealed = np.random.choice(goats)
        return ['car', revealed, other_goat(revealed)]

In [11]:
monty_hall_game()

['car', 'first goat', 'second goat']

In [12]:
trials = Table(['guess', 'revealed', 'remains'])
trials

guess | revealed | remains

In [13]:
trials.append(monty_hall_game())

guess      | revealed    | remains
first goat | second goat | car

In [14]:
trials.append(monty_hall_game())
trials.append(monty_hall_game())
trials.append(monty_hall_game())
trials.append(monty_hall_game())
trials

guess       | revealed    | remains
first goat  | second goat | car
car         | first goat  | second goat
second goat | first goat  | car
second goat | first goat  | car
first goat  | second goat | car

In [15]:
for i in np.arange(9995):
    trials.append(monty_hall_game())

In [16]:
trials.pivot('remains', 'guess')

guess       | car  | first goat | second goat
car         | 0    | 1571       | 1803
first goat  | 3376 | 0          | 0
second goat | 3250 | 0          | 0

In [17]:
trials.group('guess')

guess       | count
car         | 3374
first goat  | 3376
second goat | 3250

In [18]:
trials.group('remains')

remains     | count
car         | 6626
first goat  | 1571
second goat | 1803